# Ignorar configurações locais e credenciais sensíveis
.env

# Ignorar base de dados bruta (arquivos pesados)
*.zip
*.csv
data/
!data/*.png
scripts_auxiliadores/

# Ignorar cache do Python
__pycache__/
*.pyc